.head {
    /* text-align: right; */
    padding-left: 50px;
    font-size: 30px;
    margin: 10px;    
}

.paragraph {
  text-align: right;
  color: darkred;
  padding-left: 50px;
  font-size: 30px;
  margin: 10px;    
}
