.app {
    background-color: lightgreen;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
    border-color: palegreen;
    border-radius: 3px;
}

.link {
    padding: 20px;
}