.bold {
    font-weight: bold;
}

.form {
    float: right;
    padding: 20px;
    margin-right: 10px;
    background-color: mediumpurple;
    /*border-color: purple;*/
    border: 1px solid purple;
    border-radius: 5px;
}

table, tr, td {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-size: larger;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: turquoise;
    padding: 12px;
}

#receive {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    border-width: 4px;
    border-radius: 100px;
    margin-left: 30px;
    color: white;
    float: right;
}

#getGameInput {
    background-color: #f0dff0;
    border-color: #f0dff0;
}

.getGameButton {
    background-color: #d053f0;
    border-color: #d053f0;
}

.getGameError {
    border-radius: 7px;
    color: red;
    text-align: center;
    border: 2px solid red;
    background-color: rgba(255, 230, 230, 0.5);
    font-size: larger;
    font-weight: bold;
    padding: 30px 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.getGameSuccess {
    border-radius: 7px;
    color: green;
    text-align: center;
    border: 2px solid green;
    background-color: rgba(194, 240, 194, 0.5);
    font-size: larger;
    font-weight: bold;
    padding: 30px 10px;
    margin-top: 165px;
    margin-left: 70px;
    margin-right: 70px;
}

.getMoneyInput {
    background-color: #F0F0F0;
    border-color: #F8F8F8;
    border-radius: 3px;
    margin-bottom: 7px;
}

.receiveMoney {
    background-color: #C8C8C8;
    padding: 30px 10px 25px 34px;
    float: right;
    border-radius: 7px;
    margin-top: 39px;
    margin-right: 10px;
    border: 1px solid #686868;
}

#forceReceive {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    border-width: 7px;
    border-radius: 100px;
    margin-left: 30px;
    margin-top: 43px;
    width: 100px;
    height: 100px;
    color: white;
}